<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alpha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Alpha.Properties.Settings.alphabdConnectionString"
            connectionString="server=localhost;user id=user;password=LY9JEVCUUYASXnm8;persistsecurityinfo=True;database=alphabd;treattinyasboolean=False;Character Set=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Alpha.Properties.Settings>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value />
            </setting>
        </Alpha.Properties.Settings>
    </userSettings>
</configuration>